@import url('https://fonts.googleapis.com/css?family=Concert+One');

.App {
  text-align: center;
  overflow: hidden;
  padding: 0;
  font-family: 'Concert One';
}

.app-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  background-color: #fcff81;
  width: 100%;
  max-width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  font-size: calc(10px + 2vmin);
  color: white;
}

.top-bar {
  display: flex;
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  margin-left: 10%;
}

.title {
  background-color: #4aecf1;
  border-radius: 20px;
  padding: 1rem 2rem 1rem 2rem;
  border-left: 5px solid #e2d649ff;
  border-bottom: 5px solid #e2d649ff;
  font-size: x-large
}
.title p {
  margin: 0;
}

.score {
  background-color: #4aecf1;
  height: 4rem;
  aspect-ratio: 1;
  
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;

  border-left: 5px solid #e2d649ff;
  border-bottom: 5px solid #e2d649ff;

  color: white;
  font-size: xx-large;
  display: flex;
  align-items: center;
  justify-content: center;
}

.score p {
  margin: 0;
}

.close-button {
  background-color: #4aecf1;
  height: 6rem;
  aspect-ratio: 1;
  
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;

  color: white;
  font-size: xx-large;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button p {
  margin: 0;
}

.progress-container {
  background-color: white;
  height: 5rem;
  width: 80%;
  border-radius: 10px;
  margin-bottom: 1rem;
  border-left: 5px solid #e2d649ff;
  border-bottom: 5px solid #e2d649ff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.progress-bar {
  background-color: #39abafff;
  height: 1rem;
  width: 70%;
  border-radius: 100px;
  border: 5px solid #39abafff;
  /* border-bottom: 5px solid #e2d649ff; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.progress-bar-fill {
  transition-duration: 1s;
  background-color: #4aecf1;
  height: 100%;
  width: 70%;
  border-radius: 10px;
}

.popup-container {
  position: fixed;
  width: 100%;
  max-width: 600px;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #C3639D;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .popup-body {
  text-align: center;
  width: 80%;
  padding: 0 0 2rem 0;
  border-radius: 15px;
  border-color: black;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  border-left: 7px solid #000000ee;
  border-bottom: 7px solid #000000ee;
  }
  
  .done-button {
    width: 50%;
    padding: 10px;
    background-color: #C3639D;
    border-radius: 100px;
    align-self: center;
    color: white;

    border-left: 5px solid #00000011;
    border-bottom: 5px solid #00000011;
  }
